{
    "parser": "babel-eslint",
    "extends": ["eslint-config-airbnb"],
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "jest": true,
        "es6": true
    },
    "globals": {
        "client": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "plugins": [
        "markdown",
        "react",
        "babel"
    ],
    "rules": {
        "no-trailing-spaces": 2,
        "one-var": 0,
        "no-empty": 0,
        "no-useless-return": 0,
        "one-var-declaration-per-line": 0,
        "comma-dangle": 0,
        "func-names": 0,
        "eqeqeq": 0,
        "quotes": 0,
        "no-mixed-operators": 0,
        "no-restricted-properties": 0,
        "no-continue": 0,
        "no-plusplus": 0,
        "no-unused-vars": 2,
        "no-class-assign": 0,
        "prefer-const": 0,
        "guard-for-in": 0,
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "react/sort-comp": 0,
        "arrow-parens": 0,
        "no-console": 0,
        "object-curly-spacing": 0,
        "key-spacing": 0,
        "react/no-multi-comp": 0,
        "class-methods-use-this": 0,
        "react/prop-types": 0,
        "react/forbid-prop-types": 0,
        "react/prefer-es6-class": 0,
        "react/prefer-stateless-function": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-closing-bracket-location": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-indent": [1, 2],
        "react/jsx-boolean-value": 0,
        "react/no-danger": 0,
        "no-param-reassign": 0,
        "no-return-assign": 0,
        "no-nested-ternary": 0,
        "max-len": 0,
        "consistent-return": 0,
        "react/jsx-curly-spacing": [1, "always"],
        "indent": [1, 2, {
            "VariableDeclarator": 2,
            "SwitchCase": 1
        }],
        "react/require-default-props": 0,
        "react/no-array-index-key": 0,
        "no-script-url": 0,
        "react/jsx-indent-props": [1, 2],
        "computed-property-spacing": [2, "always"],
        "array-bracket-spacing": [2, "always"],
        "no-unused-expressions": [2, {
            "allowShortCircuit": true,
            "allowTernary": true
        }],
        "prefer-rest-params": 0,
        "react/jsx-first-prop-new-line": 0,
        "react/no-children-prop": 0,
        "no-restricted-syntax": 0,
        "jsx-a11y/href-no-hash": 0,
        "jsx-a11y/img-has-alt": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/no-string-refs": 0,
        "no-confusing-arrow": 0,
        "react/jsx-wrap-multilines": 0,
        "react/no-did-mount-set-state": 0,
        "camelcase": 0,
        "no-use-before-define": 0,
        "dot-notation": 0,
        "eol-last": 0,
        "import/no-extraneous-dependencies": 0,
        "import/first": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "no-lonely-if": 0,
        "no-case-declarations": 0,
        "no-else-return": 1,
        "react/no-did-update-set-state": 1
    }
}
